<h1>Test <%= @test_passage.test.title %> completed</h1>

<% if test_passed?(@test_passage) %>
  <p style="color: green">
    Тест успешно пройден, процент успеха - <%= success_rate(@test_passage) %>%
  </p>
<% else %>
  <p style="color: red">
    Тест не пройден, процент успеха - <%= success_rate(@test_passage) %>%
  </p>
<% end %>


<%= link_to 'All tests', tests_path %>
