<% if @question.errors.present? %>
<h2><%= pluralize(@question.errors.count, 'error') %> detected:</h2>
  <ul>
    <% @question.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
