<footer style="position: fixed; right: 0; bottom: 0">
  <p><%= current_year %>г.</p>
  <p>Автор: Евгений Болдин</p>
  <p><a href=<%= github_url('odremaer', 'rails-app') %>>Проект</a></p>
  <p><a href='http://thinknetica.com'</a>Учебный проект в онлайн-школе Thinknetica</p>
  <p></p>
</footer>
