<footer style="position: fixed; right: 0; bottom: 0">
  <p><%= current_year %></p>
  <p>Автор: Евгений Болдин</p>

  <p><%= github_url('odremaer', 'rails-app') %></p>
  <p><%= link_to "Учебный проект в онлайн-школе", "http://thinknetica.com", rel: "nofollow", target: "_blank" %></p>
</footer>
