<li>
  <%= answer.answer %><br>
  <%= link_to I18n.t('admin.show'), admin_answer_path(answer) %>
  <%= link_to I18n.t('admin.edit'), edit_admin_answer_path(answer) %>
  <%= link_to I18n.t('admin.delete'),
               admin_answer_path(answer),
               method: :delete%>
</li>
