<tr>
  <td><%= question.body %></td>
  <td><%= link_to I18n.t('admin.show'), admin_question_path(question) %></td>
  <td><%= link_to I18n.t('admin.edit'), edit_admin_question_path(question) %></td>
  <td><%= link_to I18n.t('admin.delete'),
                  admin_question_path(question),
                  method: "delete",
                  data: { confirm: I18n.t('admin.confirm') } %>
  </td>
</tr>
