form
  .input-green {
    border-color: green;
  }

  .input-red {
    border-color: red;
  }

.success:after {
  content: '+';
  color: green;
  font-size: 30px;
}

.error:after {
  content: '-';
  color: red;
  font-size: 30px;
}
